 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/8a3a8eb9462829e1ecb1fe00d50c1b7274730ccb5ed727967e606862a012e06fc90c9255a90c9600bd7bdd993952b600cae7a35a32363393009c63_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 671px;
}

.u-section-1 .u-text-1 {
  width: 496px;
  font-family: Goldplay-Black;
  font-weight: normal;
  letter-spacing: normal;
  text-transform: none;
  margin: 84px auto 0;
}

.u-section-1 .u-text-2 {
  width: 774px;
  margin: 30px auto 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  height: auto;
  margin: 40px 10px 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 23.25px));
  min-height: 217px;
  grid-gap: 31px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 25px auto 0;
}

.u-section-1 .u-text-3 {
  font-family: "Archivo Black";
  margin: 20px auto 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 25px auto 0;
}

.u-section-1 .u-text-4 {
  font-family: "Archivo Black";
  margin: 20px auto 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 25px auto 0;
}

.u-section-1 .u-text-5 {
  font-family: "Archivo Black";
  margin: 20px auto 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 25px auto 0;
}

.u-section-1 .u-text-6 {
  font-family: "Archivo Black";
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 40px auto 60px;
  padding: 12px 46px 12px 45px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 179px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 424px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15.5px));
    min-height: 548px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 868px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 31px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 15.5px) calc(50% - 15.5px);
    min-height: 491px;
    grid-gap: 31px 31px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 31px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 605px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 84px;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 488px;
}

.u-section-2 .u-group-1 {
  width: 400px;
  min-height: 368px;
  height: auto;
  margin: 60px auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 245px;
  height: 245px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 29px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 7px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -293px 0 0 528px;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  margin: 20px 0 0 528px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 29px 424px 119px auto;
  padding: 12px 46px 12px 45px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-3 {
    margin-left: 328px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 328px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 224px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-3 {
    margin-left: 108px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 108px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 4px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 895px;
  }

  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 287px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
    width: 164px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-right: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 741px;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  width: 764px;
  font-family: Goldplay-Black;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  width: 894px;
  margin: 20px auto 0;
}

.u-section-3 .u-table-1 {
  margin-top: 30px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-block-dad3-49 {
  border-style: dotted;
}

.u-block-dad3-48 {
  border-style: dotted;
}

.u-section-3 .u-table-header-1 {
  background-image: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
}

.u-section-3 .u-table-cell-1 {
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-2 {
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-3 {
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-4 {
  padding: 10px 20px;
}

.u-section-3 .u-table-body-1 {
  background-image: none;
}

.u-section-3 .u-table-cell-5 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-6 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-7 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-8 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-9 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-10 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-icon-1 {
  font-size: 1.2em;
}

.u-section-3 .u-table-cell-11 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-icon-2 {
  font-size: 1.2em;
}

.u-section-3 .u-table-cell-12 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-icon-3 {
  font-size: 1.2em;
}

.u-section-3 .u-table-cell-13 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-14 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-icon-4 {
  font-size: 1.2em;
}

.u-section-3 .u-table-cell-15 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-icon-5 {
  font-size: 1.2em;
}

.u-section-3 .u-table-cell-16 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-icon-6 {
  font-size: 1.2em;
}

.u-section-3 .u-table-cell-17 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-18 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-icon-7 {
  font-size: 1.2em;
}

.u-section-3 .u-table-cell-19 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-icon-8 {
  font-size: 1.2em;
}

.u-section-3 .u-table-cell-20 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-icon-9 {
  font-size: 1.2em;
}

.u-section-3 .u-table-cell-21 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-22 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-23 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-24 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-icon-10 {
  font-size: 1.2em;
}

.u-section-3 .u-table-cell-25 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-26 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-27 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-table-cell-28 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-3 .u-icon-11 {
  font-size: 1.2em;
}

.u-block-dad3-35 {
  background-image: none;
}

.u-block-dad3-42 {
  padding: 10px 20px;
}

.u-block-dad3-43 {
  padding: 10px 20px;
}

.u-block-dad3-44 {
  padding: 10px 20px;
}

.u-block-dad3-45 {
  padding: 10px 20px;
}

.u-section-3 .u-text-3 {
  width: 657px;
  margin: 30px auto 60px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 611px;
  }

  .u-section-3 .u-table-1 {
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 468px;
  }

  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 926px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.4375rem;
    width: auto;
    margin-top: 6px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-text-3 {
    width: 540px;
    margin-bottom: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 55px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    width: 340px;
    margin-bottom: 55px;
  }
}* {
	boeder-radius: 50px;
}@font-face {
  font-family: 'Goldplay-Black';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Goldplay-Black.ttf);
}